/* Main Settings */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');
body{
    overflow-x: hidden;
    position: relative;
}
*{
    box-sizing: border-box;
}
*, body, button, input, textarea{
    font-family: 'Changa', sans-serif;
}
a{
    text-decoration: none !important;
}
ul,li{
    list-style: none;
}
i{
    padding: 0px;
}
.input::placeholder{
    color: var(--bLightbg) !important;
}

:root{
    
    /* Grids */
    --main-grid: repeat(auto-fill, minmax(200px, 1fr));
    --second-grid: repeat(auto-fill, minmax(280px, 1fr));
    --third-grid: repeat(auto-fill, minmax(120px, 1fr));

    /* Font Sizes */
    --fsize10: 10.24px;
    --fsize12: 12.8px;
    --fsize14: 14px;
    --fsize16: 16px;
    --fsize18: 18px;
    --fsize20: 20px;
    --fsize25: 25px;
    --fsize31: 31.25px;
    --fsize39: 39.0.6px;
    --fsize48: 48.83px;

    /* Colors */
    --bDarkbg: #090a0e;
    --bLightbg: #2f353e;
    --darkBg: #0e1118;
    --lightBg: #112844;
    --whiteBg: #fff;
    --purplbg: #ffffff;
    
    --graySh: #f6f5f8;
    --gray20: #eaf7fb;
    --gray30: #f8fafb;
    --gray40: #e3e3e3;
    --gray50: #97a4b4;
    --gray90: #455362;
   
    --blueL: #10bcf6;
    --blueD: #156688;
    --blueP: #1977f2;
    --blueH: #5e7dfd;
    --gold: #e4bb49;
    --yellow: #776633;
    --orange: #ff823f;
    --pink: #ffa7a7;
    --pinkD: #d69cb2;
    --pinkH: #f56082;
    --pinkP: #748193;
    --green: #a1edb1;
    --greenL: #42b892;
    --greenLL: #e1ece4;

    --logogold30: #fdb913; 
    --logogold60: #f7941d; 

}


.navbar {
    padding-right: 25px;
    padding-left: 25px;
    border-bottom: 2px solid var(--bLightbg);
    width: 100%;
    position: fixed !important;
    top: 0 !important;
    background: transparent !important;
    transition: background 0.5s;
}
.navbar-burger{
    color: var(--logogold30) !important;
}
.button.navButton {
    padding: 7px 20px !important;
    height: fit-content;
}
.button.navButton.is-outlined{
    color: var(--whiteBg) !important;
}
.button.navButton.is-outlined:hover{
    color: var(--whiteBg) !important;
    box-shadow: inset 0px 0px 25px 20px var(--logogold30), 0px 0px 5px var(--logogold30) !important;
}
@media (max-width: 1024px){
    #navbarBasicExample {
        background-color: #2f353ecc;
        margin-top: 25px;
    }
    .navbar .navbar-item{
        padding: 7px 20px !important;
    }
    .navbar .buttons{
        margin-top: 20px;
    }
    .navbar-item:hover {
        background-color: transparent !important;
    }
}
.navbar-item:hover {
    background-color: var(--bLightbg) !important;
}
.navbar.moved{
    background-color: #15181dc9 !important;
}
.acc i{
    font-size: 35px !important;
}
.navbar-end .navbar-item:hover{
    background-color: transparent !important;
}
.navbar-item, .navbar-item.logo  {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.navbar-item.logo  {
    margin-bottom: -35px;
}
.navbar-item{
    color: #dadada !important;
    font-size: 15px;
    margin-left: 10px;
}
.navbar-item i{
    padding-left: 5px;
    font-size: 12px;
}
.navbar-item img {
    max-height: 5rem !important;
    padding-top: 2px;
    padding-bottom: 2px;
}










.button {
    padding: 21px 28px !important;
}
.button.is-gold{
    background-color: var(--logogold30);
    border-color: var(--logogold30);
}
.button.is-gold.shadowed{
    box-shadow: 0px 2px 14px var(--logogold30);
    transition: box-shadow 0.3s;
}
.button.is-gold.shadowed:hover{
    box-shadow: 0px 5px 10px var(--logogold30);
    border-color: var(--logogold30);
}
.button.is-gold.is-outlined{
    background-color: transparent;
    border-color: var(--logogold30);
    color: var(--lightBg);
    box-shadow: inset 0px 0px 6px 0px var(--logogold30);
    transition: box-shadow 0.3s;
}
.button.is-gold.is-outlined:hover{
    box-shadow: inset 0px 0px 25px 20px var(--logogold30), 0px 5px 10px var(--logogold30);
}
/* *::-webkit-scrollbar {
    width: 7px;
}
*::-webkit-scrollbar-track {
    background: var(--second-color);
    box-shadow: inset 0 0 6px var(--second-color);
}
*::-webkit-scrollbar-thumb {
    background-color: #ff3333;
    border-radius: 5px;
}
:root {
    scrollbar-color: #ff3333 var(--second-color) !important;
    scrollbar-width: thin !important;
} */

.hero.home{
    background-image: linear-gradient(to bottom right, var(--bDarkbg), var(--bLightbg));
    padding-bottom: 0;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 35px;
}
.hero.home::before {
    content: "";
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    top: -110px;
    left: -370px;
    opacity: 0.5;
    background: radial-gradient(ellipse at center, rgba(0,95,252,0.6) 0%, rgba(0,95,252,0.6) 0%, rgba(0,95,252, 0) 68%, rgba(0,95,252, 0) 100%);
    -webkit-background: radial-gradient(ellipse at center, rgba(0,95,252,0.6) 0%, rgba(0,95,252,0.6) 0%, rgba(0,95,252, 0) 68%, rgba(0,95,252, 0) 100%);
    z-index: 1;
}
.hero.home::after {
    content: "";
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 100%;
    top: -240px;
    right: -390px;
    opacity: 0.3;
    background: radial-gradient(ellipse at center, rgba(255, 227, 0, 0.6) 0%, rgba(255, 230, 25, 0.6) 0%, rgba(255,82,25, 0) 68%, rgba(255, 241, 25, 0) 100%);
    -webkit-background: radial-gradient(ellipse at center, rgba(255, 227, 0, 0.6) 0%, rgba(255, 230, 25, 0.6) 0%, rgba(255,82,25, 0) 68%, rgba(255, 241, 25, 0) 100%);
    z-index: 1;
}
.hero.home .title{
    color: var(--whiteBg);
    font-weight: 400;
}
.hero.home .subtitle{
    color: var(--gray50);
}
.hero.home .hero-body, .hero.home .container, .hero.home .column{
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 0;
    margin-top: 0;
}
.hero.home .columns .column.img{
    direction: ltr;
}
.hero.home .column img{
    width: auto;
    padding-top: 20px;
    padding-bottom: 5px;
}
.hero.home .column.is-5, .hero.home .column.oo {
    padding-top: 110px !important;
    padding-bottom: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}
.hero.home .column.oo {
    padding-top: 45px !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    padding-right: 50px;
}
.hero.home .column.is-5 .block .column.is-6, .hero.home .column.oo div {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: var(--whiteBg);
}
.hero.home .column.oo div {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
    color: var(--whiteBg);
}
.hero.home .iconCont, .features.home .iconCont{
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    background-color: #45536261;
    padding-top: 10px !important;
}
.hero.home .iconCont i{
    font-size: 20px;
    margin-right: -2px;
}
.hero.home .column.is-6:first-of-type .iconCont i{
    color: var(--gold);
}
.hero.home .column.is-6:nth-of-type(2) .iconCont i{
    color: var(--pinkH);
}
.hero.home .column.is-6:nth-of-type(3) .iconCont i{
    color: var(--orange);
}
.hero.home .column.is-6:nth-of-type(4) .iconCont i{
    color: var(--blueL);
}
.oo .iconCont, .features.home .iconCont{
    width: 50px !important;
    border-radius: 5px !important;
    height: 50px !important;
    line-height: 35px;
    margin-top: 66px !important;
}
.oo .subtitle {
    margin-top: -10px !important;
    margin-bottom: 30px !important;
}
.oo .iconCont i, .features.home .iconCont i{
    font-size: 24px !important;
    margin-top: 3px;
}
.hero.home .oo .is-flex:nth-of-type(1) .iconCont i{
    color: var(--greenL);
}
.hero.home .oo .is-flex:nth-of-type(2) .iconCont i{
    color: var(--gold);
}
.hero.home .oo .is-flex:nth-of-type(3) .iconCont i{
    color: var(--blueL);
}

/* .hero.home .column.img {
  position: relative;
  z-index: 0;
}
.hero.home .column.img::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: #ca811f;
    z-index: -3;
    left: -306px;
    border-radius: 50%;
    bottom: -174px !important;
    border: 20px solid var(--yellow);
} */

/* @media(max-width: 1210px){
    .hero.home .column.is-5, .hero.home .column.oo {
        padding-top: 70px !important;
    }
    .hero.home .column.oo {
        padding-top: 20px !important;
        padding-right: 15px;
    }
    .hero.home .columns .column.img {
        padding-left: 0;
    }
}

@media(max-width: 974px){
    .hero.home .column.oo {
        width: 29%;
        padding-right: 20px;
    }
    .hero.home .column.is-4.img {
        padding-bottom: 30px;
    }
} */
@media(max-width: 882px){
    /* .hero.home .column.is-4.img {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .hero.home .column.oo {
        width: 31%;
        padding-right: 5px;
    }
    .hero.home .column.is-5, .hero.home .column.oo {
        padding-top: 40px !important;
    }
    .hero.home .column.oo {
        padding-top: 0px !important;
    }
    .hero.home {
        overflow: hidden;
    }    */
    .column.is-4.img {
        width: 350px;
    }
    .hero.home .column img {
          margin-left: 50px;
      
    }
}

@media(max-width: 770px){
    /* .hero.home .column.is-6 {
        width: 100% !important;
        min-width: 220px;
    }
    .hero.home .columns.is-multiline {
        display: flex;
        flex-wrap: wrap !important;
    }
    .hero.home .column.oo{
        display: flex;
        flex-wrap: wrap !important; 
        padding-right: 10px;
    }
    .hero.home .is-flex.is-flex-direction-row {
        min-width: 250px;
    }
    .hero.home .columns .column.img {
        direction: ltr;
        text-align: left;
        margin-top: -420px;
        margin-left: 0 !important;
    }
    .hero.home .columns .column.img img{
        width: 400px;
    }
    .hero.home .column.is-5{
        padding-top: 40px !important;
    }
    .hero.home .column.oo {
        padding-top: 5px !important;
    } */
    .column.is-4.img {
        width: 100%;
        margin-top: -200px;
        padding: 40px;
    }
    .hero.home .column img {
        margin-left: 0;
    }
    .hero.home::before {
        width: 600px;
        height: 300px;
    }
    .hero.home::after {
        width: 800px;
        height: 500px;
        top: 0px;
        right: -390px;
    }
}
@media(max-width: 400px){
    .column.is-4.img {
        margin-top: -180px;
        padding: 10px;
    }
}
/* @media(max-width: 684px){
    .hero.home .columns .column.img {
        margin-top: -345px;
        margin-left: -35px !important;
    }
} */
/* @media(max-width: 560px){
    .hero.home .columns .column.img {
        margin-top: -190px;
    }
} */
/* @media(max-width: 450px){
    .hero.home .columns .column.img {
        margin-top: -65px;
    }
    .hero.home .columns .column.img {
        margin-left: 0 !important;
    }
} */


.headerT{
    padding-bottom: 10px;
}
.button.is-lefter{
    margin-left: 15px;
}

.titleV{
    position: relative;
    font-size: 1.35rem;
    padding-bottom: 15px;
}
.titleV::after{
    position: absolute;
    content: "";
    right: 0;
    bottom: 8px;
    width: 40px;
    height: 2.5px;
    background-color: var(--logogold30);
}

.hero.Home_hero {
    background-color: var(--graySh);
}
.hero.Home_hero img {
    width: 100%;
}

.features, .about{
    padding-top: 40px;
    padding-bottom: 40px;
}

.gridSys.t1{
    display: grid;
    grid-template-columns: var(--main-grid);
    grid-gap: 40px;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.features.home{
    background-image: linear-gradient(to bottom right, var(--bLightbg), var(--bLightbg));
}
.features.home .iconCont {
    line-height: 0;
    margin-top: 8px !important;
}
.features.home .is-align-items-center {
    justify-content: start !important;
}
.features.home h3{
    color: var(--gray40);
}
.features.home .titleV, .searchbars .titleV {
    color: var(--logogold30);
}


.about {
    background-color: var(--gray30);
}
.about .title{
    color: var(--fourth-color)    
}
.about .title.is-3{
    color: var(--logogold30);  
}
.about p{
    font-size: 21px;
    color: var(--fourth-color) !important;  
}
.about .image {
    width: 200px;
    height: 200px;
    margin-bottom: 0;
    padding: 0;
    border-radius: 50% !important;
    overflow: hidden;
    border: 3px solid var(--logogold30);
    background-color: var(--bLightbg);
}
.about .column.is-3 {
    padding: 3rem;
}
.about  p {
    padding-top: 20px;
}
.seconder{
    border-left: 3px solid var(--third-color);
}
.hero-body {
    margin-top: 100px;
    margin-bottom: 70px;
}
.about .proimge{
    background-color: var(--fourth-color);
    border: 4px solid var(--fourth-color);
}
.button.is-light-bg{
    padding: 24px;
    font-size: 18px;
    background-color: var(--third-color);
    color: var(--main-color);
    border-color: var(--third-color);
    transition: 0.8s;
    border: 2px solid var(--third-color);
}
.button.is-light-bg:hover{
    background-color: var(--main-color);
    color: var(--third-color);
    border: 2px solid var(--third-color);
}
.about .column.is-1.seconder{
    border-left: 2px solid var(--logogold30);
}
@media screen and (max-width: 770px) {
    .adva .column.bordered:nth-child(2){
        margin: 16px 0px;
    }
    .adva .title.is-2.has-text-centered {
        top: 0px !important;
        font-size: 2.3rem !important;
        margin-top: 40px;
    }
    .cAdvPh{
        font-size: 40px !important;
    }
    .about .column.is-3 {
        background-size: 55% !important;
    }
    .image {
        margin: auto;
        width: 200px;
    }
    .about .column.is-1{
        padding: 0 !important;
    }
    .about .column.is-1.seconder{
        padding: 10 !important;
        border-left: 0;
        border-top: 2px solid var(--logogold30);
        margin: 0 20px;
    }
    .rates .column:nth-child(2) {
        margin: 16px 0 !important;
    }
    .Rpicts .column:nth-child(2) {
        margin: 20px 0 !important;
    }
    .nota .column {
        width: 100% !important;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .nota p {
        letter-spacing: 3px !important;
        font-size: 34px !important;
    }
    .nota .column.is-9{
        padding: 10px 0 !important;
    }
}
@media screen and (max-width: 550px) {
    .image {
        margin: auto;
        width: 180px;
    }
    .about .column.is-3 {
        background-size: 74% !important;
    }
}

.courses img{
    width: 100%;
}
.cardes.courses {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--graySh);
}
.card-image .image {
    display: block;
    position: relative;
    width: 100%;
}


.hero-Lect {
    background-size: 130%;
}
.hero-Lect .hero-body {
    margin-top: 0;
    margin-bottom: 0;
    padding: 2rem 3rem;
}
.has-text-third{
    color: #01afaf
}
.panel{
    margin-bottom: 0 !important;
    margin-top: 60px;
    box-shadow: 0 0.4em 0.8em -0.125em rgba(10, 100, 100, 0.3), 0 0px 0 1px rgba(10, 100, 100, 0.04);
}
.panel .panel-block {
    background: #ededed;
    position: relative;
}
.Lects .gridSys{
    display: grid;
    margin-top: 0;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)) !important;
    grid-gap: 25px;
    width: 100%;
    justify-content: center;
    margin: auto;
}
.Lects .Moqtarh {
    margin-top: 50px;
}
.alects .LastLec{
    padding-bottom: 30px;
}
.Cards1.block.Lects.alects {
    padding: 40px 0;
    background-color: var(--graySh);
    margin-bottom: 0;
    border-bottom: 1px solid var(--logogold30);
    border-top: 1px solid var(--logogold30);
}
.card{
    border-radius: 0.35rem;
    box-shadow: 0px 0px 10px 0.5px rgba(54, 42, 0, 0.616) !important;
    max-width: 100%;
    position: relative;
    padding: 13px;
    background: transparent;
}
.card * {
    color: #4b4b4b;
}
.card-content{
    padding: 15px 0 0 !important;
}
.tag.is-gold{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--logogold30);
    color: var(--whiteBg);
    opacity: 0.8;
    cursor: pointer;
}
.button.is-trans {
    background-color: #ff970052 !important;
    border: none;
    padding: 5px 15px !important;
    color: #372700 !important;
}
.old-price{
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: line-through;
    text-decoration-color: var(--logogold60);
    color: #7a7a7a;
}
.card-image:first-child img {
    border-radius: 0.35rem;
}
.alects .card .subtitle.is-4{
    margin-bottom: 10px;
}
.alects .card .title.is-5{
    margin-bottom: 30px;
}
.alects .card .tag.is-primary {
  background-color: var(--third-color) !important;
  margin-bottom: 6px;
  opacity: 0.8;
}
@media screen and (max-width: 770px), print{
    .hero-Lect {
        background-size: 170%;
    }
}

.searchbars {
    background-color: var(--bLightbg);
    padding: 40px 0;
}
.searchbars .button.searchB{
    background-color: var(--logogold30);
    border: none;
    width: 45px !important;
    height: 45px !important;
    color: var(--whiteBg)
}
.searchbars .input {
    margin-left: 10px;
    height: 45px !important;
    border: none;
}


.Lsubscripe .button, .content .button{
    padding: 0px 10px !important;
    font-size: 15px !important;
    margin-bottom: 10px !important;
    color: var(--logogold60);
    border: 2px solid #e6b0498c;
    transition: 0.5s;
}
.Lsubscripe .button:hover, .content .button:hover{
    background-color: var(--logogold30);
    color: var(--bLightbg);
    border: 2px solid var(--logogold30);
}
.Lcontent .title.is-5 {
    margin-bottom: 15px !important;
    margin-top: 20px !important;
    font-size: 19px !important;
    font-weight: 400;
}
#morevid {
  font-size: 18px !important;
  font-weight: 500;
  color: var(--lightBg);
}





.hero.lecture{
    background: url('/assets/images/bg.png'), linear-gradient(to bottom right, var(--bDarkbg), var(--bLightbg));
    overflow-y: hidden;
    background-size: contain;
    background-position: center;
    padding-top: 60px;
}
.hero.lecture::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    top: -53px;
    left: -370px;
    opacity: 0.4;
    background: radial-gradient(ellipse at center, rgba(0, 252, 158, 0.87) 0%, rgba(0, 252, 228, 0.7) 0%, rgba(0,95,252, 0) 68%, rgba(0,95,252, 0) 100%);
    -webkit-background: radial-gradient(ellipse at center, rgba(0, 252, 158, 0.87) 0%, rgba(0, 252, 228, 0.7) 0%, rgba(0,95,252, 0) 68%, rgba(0,95,252, 0) 100%);
    z-index: 1;
}
.hero.lecture::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    top: -260px;
    right: -360px;
    opacity: 0.4;
    background: radial-gradient(ellipse at center, rgba(255, 227, 0, 0.6) 0%, rgba(255, 230, 25, 0.6) 0%, rgba(255,82,25, 0) 68%, rgba(255, 241, 25, 0) 100%);
    -webkit-background: radial-gradient(ellipse at center, rgba(255, 227, 0, 0.6) 0%, rgba(255, 230, 25, 0.6) 0%, rgba(255,82,25, 0) 68%, rgba(255, 241, 25, 0) 100%);
    z-index: 1;
}
.hero.lecture h1{
    color: var(--logogold60);
}
.hero.lecture p{
    color: var(--whiteBg);
    padding-top: 20px;
    font-weight: 300;
}
.hero.lecture .hero-body {
    margin-top: 60px;
    margin-bottom: 55px;
}
.hero.lecture .hero-body {
    padding: 0rem 3rem;
}
.tags {
    margin-top: 15px;
}
.tags .tag{
    opacity: 0.9;
}
.hero.lecture .subtitle.is-3 {
    font-size: 2rem;
    font-weight: 400 !important;
    padding-top: 0px !important;
}
.hero.lecture .subtitle.is-3 span{
    font-size: 2.2rem;
    font-weight: 600 !important;
    color: var(--logogold30);

}
@media(max-width: 600px){
    .hero.lecture .hero-body {
        padding: 0rem 0rem;
    }
    .hero.lecture::before {
        width: 400px;
        height: 400px;
        top: 350px;
        left: -254px;
    }
}

.holota .column.is-4 {
    border-right: 5px solid var(--bLightbg);
    transition: box-shadow 0.5s;
}
.holota .column.is-4:hover {
    box-shadow: -3px 0px 10px 0px var(--logogold30);
}
.container{
    padding-left: 20px;
    padding-right: 20px;
}
.cardes.holota .column {
    margin-bottom: 10px;
}
















/* .lectViews {
    margin-bottom: 0 !important;
    margin-top: 0px;
    height: 100vh;
}
.lectViews .contentMenu {
    padding: 0;
    margin-top: 3px;
}
.lectViews .column.is-2 {
    background-color: var(--fourth-color);
    padding-bottom: 0;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 1px;
    padding: 10px 12px 10px 22px;
}
.lecter {
    padding: 8px 20px;
    margin-bottom: 5px;
    background-color: var(--third-color);
    color: var(--main-color);
    border-radius: 5px;
    cursor:pointer;
}
.lecter.end {
    opacity: 0.98;
    background-color:#054849
}
.lecter.current {
    opacity: 0.98;
    border: 2px solid #07696b;
    background-color: #035f61a6;
    color: var(--main-color);
}
.lectViews .column.is-10 {
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 60px;
    position: relative;
    padding-right: 20px;
    padding-bottom: 30px;
}
.contentMenu .is-size-4{
    font-weight: 600;
    padding: 5px 10px 2px;
    color: var(--second-color);
} */
.cTtile{
    color: var(--main-color);
    margin-bottom: 10px !important;
}
.videoL iframe{
    width: 100%;
    height: 500px;
}
.lNav {
    width: 100%;
    height: max-content;
    background-color: var(--third-color);
}
.lNav a {
    color: var(--main-color);
    font-weight: 600;
    font-size: 22px;
    padding: 0px;
    display: block !important
}
.lNav a:hover {
    color: var(--main-color);
    background: inherit;
    text-decoration: underline;
    opacity: 0.8;
}
.showr{
    display: none;
}

@media screen and (max-width: 960px), print{
    .lNav {
        align-items: baseline !important;
        display: flex !important;
    }
    .navbar-start {
        justify-content: flex-start;
        margin-right: auto;
    }
    .showr{
        display: block;
        position: absolute;
        right: 30px;
        font-size: 22px;
        color: var(--third-color);
        top: 18px;
        cursor: pointer;
    }
    /* .hidelectS{
        width: 0 !important;
        padding: 0 !important;
        flex-basis: 0;
        flex-grow: 0;
        flex-shrink: 0;
        position: absolute;
        z-index: 0;
    }
    .hidelectS *{
        opacity: 0;
        transition: 0.5s;
    }
    .lectViews .column.is-10{
        width: 100% !important;
        padding: 10px 30px;
        transition: 0.5s;
        padding-bottom: 50px !important;
    }
    .lectViews .column.is-2 {
        padding-bottom: 0;
        width: 220px;
        position: absolute;
        z-index: 200;
        transition: 0.5s;
        padding-right: 10px;
    }
    .columns.lectViews {
        display: flex;
    } */
    .mytabs .tabfree {
        padding: 10px 35px;
    }
}
@media screen and (max-width: 920px) { /* zeft */
    .buttonG{
        margin-left: 0px;
    }
    .burgerIcon.navbar-link{
        display: none
    }
    .navbar-menu{
        background-color: var(--third-color);
    }
    .navbar-menu .noBg{
        color: var(--main-color) !important;
    }
    .navbar-menu .sebut{
        min-width: 100%;
    }
    /* .bordered{
        padding: 20px
    } */
    body{
        padding: 20px 20px 0 20px;
    }
    .move {
        width: calc(100% - 40px) !important;
        left: 20px !important;
    }
    .image {
        margin-top: 20px;
        margin-left: -15px;
        width: 145px;
    }
}
@media screen and (max-width: 700px), print{
    .videoL iframe{
        height: 400px;
    }
    .mytabs .tabfree {
        padding: 8px 20px;
    }
    .navbar-start {
        width: 80%;
    }
    .ert {
        word-wrap: break-word ;
        overflow-wrap: break-word ;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        width: 100%;
        height: 30px;
    }
}
@media screen and (max-width: 600px), print{
    .videoL iframe{
        height: 335px;
    }
    .lNav .navbar-end .navbar-item {
        display: flex !important;
        align-items: center;
    }
}
@media screen and (max-width: 510px), print{
    .videoL iframe{
        height: 300px;
    }
}
@media screen and (max-width: 460px), print{
    .videoL iframe{
        height: 270px;
    }
}
@media screen and (max-width: 420px), print{
    .videoL iframe{
        height: 230px;
    }
    .mytabs .tabfree {
        padding: 6px 10px;
    }
}
@media screen and (max-width: 360px), print{
    .videoL iframe{
        height: 180px;
    }
}
.tapss1{
    background-color: transparent;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    margin-top: 40px;
    margin-bottom: 20px;
}
.tapss1 .discription{
    padding-left: 10px;
    font-size: 17px;
    scrollbar-width: thin;
}
.tapss1 .discription img{
    width: 100%;
    height: auto;
}
.tapss1 .discription a{
    text-decoration: underline !important;
    color: var(--third-color);
    font-weight: 700;
    display: block;
}
.tab h3{
    color: var(--logogold30) !important;
}
.tab p{
    color: var(--greenLL);
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.mytabs input[type="radio"]:checked {
    background-color: var(--logogold30);
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs .tabfree {
    padding: 10px 40px;
    color: var(--second-color);
    font-weight: bold;
    border-radius: 0;
}
.mytabs .tabfree.active {
    background-color: var(--logogold30);
    border-radius: 6px 6px 0 0;
}
.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: var(--bLightbg);
    order: 1;
    display: none;
    border-radius: 6px 0px 6px 6px;
}
.mytabs .tab.active {
    display: block;
}
.mytabs input[type="radio"]:checked + label {
    background: var(--third-color);
    color: var(--main-color);
}
.mytabs .title.is-3{
    margin-bottom: 0.5rem;
    color:var(--second-color);
}
.mytabs .media {
    margin-left: 30px;
}
.mytabs .mediaContainer{
    border-bottom: 2px solid var(--third-color);
    margin-bottom: 26px;
}
.mytabs .media-content {
    overflow-x: visible;
}
.mytabs .otherQus {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: thin;
}
.mytabs .media-content .content{
    margin-bottom: 14px;
}
.mytabs .otherQus{
    display: none;
}
.mytabs .otherQus.active{
    display: block;
}
.showQues{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}
.menu{
    transition: 0.5s;
}
.menu.column {
    max-width: 250px !important;
    padding: 20px 35px 35px 0 !important;
    background-image: linear-gradient(to bottom right, var(--bDarkbg), var(--bLightbg));
}
.menu-label {
    padding: 0px;
}
.menu-label *{
    color: var(--logogold30);
    font-size: 14.5px;
    letter-spacing: 0px !important;
    padding: 9px 12px 9px 10px;
    border-radius: 0px 10px 10px 0px;
    margin-bottom: 1px !important;
    margin-top: 1px !important;
    transition: all 0.2s;
}
.menu-label:hover *, .menu-label.active *{
    color: var(--whiteBg);
    background-color: var(--logogold30);
}
.upperNav{
    margin-bottom: 20px !important; 
    background-color: var(--greenLL);
    margin-right: -12px;
    padding: 8px 32px 0 20px;
    height: fit-content;
}
.upperNav .is-size-6 {
    color: var(--logogold60) !important;
}
.ico {
  width: 100%;
  direction: ltr;
  padding-left: 10px;
  font-size: 25px;
  color: var(--whiteBg);
  margin-bottom: 4px;
  cursor: pointer;
}
.menu.noactive{
    max-width: 25px !important;
    overflow: hidden;
}
@media (max-width: 670px) {
    .menu.column {
        width: 250px !important;
        position: fixed;
        z-index: 100;
        height: 100vh;
        overflow-y: scroll;
    }
}


























.loginForm{
    padding-top: 100px;
    padding-bottom: 60px;
    background-image: linear-gradient(to bottom right, var(--bDarkbg), var(--bLightbg));
}
.column.former {
    padding: 40px 30px;
    border-radius: 15px;
    background-color: #f4f4f4;
    box-shadow: 0px 2px 14px var(--logogold30);
}
.loginForm .container {
    padding-left: 30px;
    padding-right: 35px;
}











.Payways{
    background-image: linear-gradient(to bottom right, var(--bDarkbg), var(--bLightbg))
}
.Payways .hero-body {
    padding: 1rem 3rem;
}
.isPay{
    border: 1px solid var(--main-color);
}
.isPay .isT{
    margin-bottom: 10px;
}
.isPay .inputField{
    margin-top: 15px;    
    margin-bottom: 15px; 
}
.isPay input{
    width: 200px;   
    margin-left: 10px; 
}
.isPay .selectedShow {
    border-radius: 10px;
    border: 2px dashed var(--logogold30);
    margin-top: 10px;
    margin-bottom: 0 !important;
    cursor: pointer;
    margin-left: 2px;
    opacity: 0.8;
    transition: 0.5s;
    margin-right: 0px;
    background-color: var(--bLightbg);
}
.isPay .selectedShow *{
    color: var(--logogold60);
}
.isPay .selectedShow.active {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.isPay .selectedShow:hover {
    opacity: 1;
    border-color:#777777;
}
.isPay .column.is-1.is-size-5 i {
    margin-top: 14px;
    font-size: 25px;
    padding: 0;
    transition: 0.5s;
}
.isPay .column.is-1.is-size-5 i.active {
    rotate: 90deg;
}
.isPay .inpu {
    border: 0;
    font-size: 15px;
    width: auto;
}
.isPay .notes {
    margin-top: 10px;
}
.isPay .foct {
    font-size: 14px;
}
.isPay .fost {
    font-weight: 700;
    font-size: .875em;
}
.pySection {
    border-right: 2px dashed var(--logogold30);
    border-left: 2px dashed var(--logogold30);
    padding: 0 !important;
    margin-left: 2px;
    transition: 0.5s;
    padding: 0;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    background-color: #484c52;
}
.paywayo *{
    color: var(--greenLL) !important;
}
.pySection.active {
    padding: 0.75rem !important;
    padding-top: 10px;
    height: max-content;
    border-bottom: 2px dashed var(--logogold30);
}
.pySection:hover {
    border-color: #777777;
}
.pySection div{
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
.pySection div:hover{
    opacity: 1;
}
.pySection .paywayo {
    border-top: 1px solid var(--main-color) !important;
    padding: 10px 20px !important;
}
.pySection .paywayo.active {
    background-color: #fff;
    opacity: 1;
}
.pySection .paywayo:hover {
    background-color: #fff;
}
.pySection .paywayo:hover *, .pySection .paywayo.active * {
    color: var(--bLightbg) !important;
}
.pySection .paywayo .img1W {
    -ms-transform: scale(2); 
    -webkit-transform: scale(2); 
    transform: scale(2);
    margin-top: 10px;
}
.pySection .paywayo input {
    float:left; 
    margin-top: 9px;
    vertical-align: middle; 
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
}
.pySection .paywayo .imgContW {
    float:left;
    height:20px;
    width:30px;
}
.pySection .radio {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0;
}
.pySection .radio input{
    opacity: 0;
}
.pySection .subtitle.is-6 {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.pySection .paywayo{
    position: relative
}
@media (max-width: 440px){
    .Payways .hero-body{
        padding-left: 10px;
        padding-right: 1px;
    }
    
}
.Payways .box {
    background-color: rgba(252, 252, 252, 0.918);
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(255, 240, 9, 0.41), 0 0px 0 1px rgba(255, 240, 9, 0.41);
}
.is-gold:not(.button.is-gold){
    color: var(--logogold60) !important;
}

.table {
    width: 100%;
}
tbody * {
    font-weight: 500;
}










.pops-conatainer {
    position: fixed;
    top: 50%;
    z-index: 230;
    display: block;
    transform: translateY(-50%);
    z-index: 10000;
}
.notifications {
    min-width: 320px;
    max-width: 450px;
    margin-right: -500px;
}
.notification{
    padding: 1rem 1.5rem 1rem 2.5rem !important;
}
.notification.notifications.noti1.is-bg-red:hover, .panel-heading.is-bg-red:hover {
    opacity: 1 !important;
    background-color: var(--main-color) !important;
}
.noti1, .noti2, .noti3{
    animation: NotiPop 8s !important;
    animation-fill-mode: forwards !important;
    animation-iteration-count: 1 !important;
}
.notification.notifications.noti1 {
    background-color: rgba(255, 255, 255, 0.95) ;
    color:  var(--pinkH) !important;
    box-shadow: 0px 0px 6px 2px var(--pinkH);
}
.notification.notifications.noti2 {
    background-color: rgba(255, 255, 255, 0.95);
    color: var(--logogold30) !important;
    box-shadow: 0px 0px 6px 2px var(--logogold30);
}
.notification.notifications.noti3 {
    background-color: rgba(255, 255, 255, 0.95);
    color: var(--greenL)!important;
    box-shadow: 0px 0px 6px 2px var(--greenL);
}
@keyframes NotiPop {
    0%{
      margin-right: -500px;
    }
    15%{
      margin-right: 10px;
    }
    90%{
      opacity: 1;
      margin-right: 10px;
    }
    100%{
      margin-right: -500px;
      opacity: 1;
    }
}









.fawriCode .hero-body{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.qa{
    background-image: linear-gradient(to bottom right, var(--bDarkbg), var(--bLightbg));
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0 !important;
}
.qa .label, .qa strong {
    color: var(--logogold30);
}
.qa img{
    margin-top: 10px;
}
.file-name {
  border-width: 1px 1px 1px 1px;
  min-width: calc(100% - 141px);
  color: var(--whiteBg);
}
.file-label {
    width: 100%;
}

.qa .tab {
    border-radius: 6px;
}
.file-label .file-cta {
  background-color: var(--greenL) !important;
  color: #363636;
  border-radius: 0 5px 5px 0px !important;
  border: none;
  margin-left: 0px;
}
















.epay input{
    width: 100%;
    margin-top: 5px;
}
.epay .icon.is-right {
    right: 0;
    margin-top: 5px;
}
.sheet .input:disabled{
    background-color: #f1f1f1 !important;
    border: 1px solid #c6c6c6 !important;
}