<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>منصة مستر محمد رضوان </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/png" href="/assets/images/logos/Vector-Presenting-to-smart-board.png"/>

    <link rel='stylesheet' type='text/css' media='screen' href='/assets/style/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/style/all.min.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/assets/style/bulma-rtl.css'>

    <script src='/assets/javascript/main.js' defer></script>
    <script src='/assets/javascript/navFooterLicenes.js' defer></script>

</head>
<body>
    
    


    <div class="columns is-reversed lectViews">
        <aside class="menu column">
            <div class="ico" onclick="showLects()"><i class="fa-solid fa-bars"></i></div>
            <a href="" class="menu-label active"><p>محاضرة ون</p></a>
            <a href="" class="menu-label"><p>محاضرة ون</p></a>
            <a href="" class="menu-label"><p>محاضرة ون</p></a>
            <a href="" class="menu-label"><p>محاضرة ون</p></a>
            <a href="" class="menu-label"><p>محاضرة ون</p></a>
            <a href="" class="menu-label"><p>محاضرة ون</p></a>
            <a href="" class="menu-label"><p>محاضرة ون</p></a>
          </aside>

        <div class="column">
            <div class="is-flex is-justify-content-space-between upperNav">
                <p class="title is-5 cTtile">اسم الدورة</p>
                <div>
                    <a class="is-size-6" href="/"><i class="fas fa-door-open"></i>  خروج</a>
                </div>
            </div>
            
            <div class="container">
                <h1 class="title is-3">اسم المحاضرة</h1>
                <div class="videoL">
                    <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1"></iframe> 
                </div>

                <section class="tapss1">
                    <div class="mytabs">
                        <input type="radio">
                        <label class="tabfree" onclick="showtab(0)">الوصف</label>
                        <div class="tab active">
                            <h3 class="title is-3">الوصف</h3>
                            <p class="discription">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. In obcaecati iste saepe repellat aut dicta animi qui consequatur, veniam earum! Ex reiciendis possimus doloremque dolorum quos molestiae error libero fuga.
                            </p>
                        </div>
                    
                        <input type="radio">
                        <label class="tabfree" onclick="showtab(1)">الملاحظات</label>
                        <div class="tab">
                            <h3 class="title is-3">الملاحظات</h3>
                            <p class="discription">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. In obcaecati iste saepe repellat aut dicta animi qui consequatur, veniam earum! Ex reiciendis possimus doloremque dolorum quos molestiae error libero fuga.
                            </p>
                        </div>
                    
                        <input type="radio">
                        <label class="tabfree" onclick="showtab(2)">الملفات</label>
                        <div class="tab">
                            <h3 class="title is-3">الملفات</h3>
                            <p class="discription">
                                <a href="">Download File</a>
                                <a href="">Download File</a>
                                <a href="">Download File</a>
                            </p>
                        </div>

                        <input type="radio">
                        <label class="tabfree" onclick="showtab(3)">الامتحان</label>
                        <div class="tab">
                            <h3 class="title is-3">الامتحان</h3>
                            <p class="discription">
                                <a href="" class="quizLink"><i class="fas fa-vial"></i> Quiz Name</a>
                            </p>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>

</body>
</html>